<!-- 
<div class="box-dimensions">
  <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of todoList">
        {{item.shortDescription}}
      </a>
  </div>
</div> -->


<div class="container grid d-flex justify-content-end">
    <div class="row">
      <div class="col-sm-4">


        <form class="form-add-item">
            <div class="form-group">
              <label for="shortDescription-Input">Add Todo Item</label>
              <input #short type="inputbox" class="form-control" id="short" placeholder="Enter todo">
            </div>
            <small id="confidentiality-notice" class="form-text text-muted">Note: it is advised that you don't enter any confidential information</small>
            <div class="form-group">
                <label for="longDescription-Input">(Optional) Description of Item</label>
                <textarea #long class="form-control" id="long" rows="3"></textarea>
            </div>
            <div>
                <button id="add" type="Add Todo Item" class="btn"
                        (click)="add(short.value, long.value); short.value=''; long.value='';">
                Add Item</button>
            
            </div>
        </form>
        
        <ul class="todo-list">
            <li *ngFor="let item of todoList">
                <!-- <a routerLink="/detail/{{hero.id}}"> -->
                  <a routerLink="detail/{{item.id}}">
                      <span class="badge">{{item.id}}</span> {{item.shortDescription}}
                  </a>
                <!-- </a> -->
                <!-- (click)="delete(hero)" -->
                <button (click)="delete(item)" class="delete" title="delete hero">x</button> 
            </li>
        </ul>


      </div>
      <div class="col-sm-8">

        <router-outlet></router-outlet>

      </div>
    </div>
</div>









